<div>
    <img src="{{this.product.imgUrl}}" alt="img">
    
    <div>Name:{{this.product.name}} </div>
    <div>Description:{{this.product.description}} </div>
    
    <div>Price:{{this.product.price}} </div>

    
    </div>